<!doctype html>
<html lang="en">
<head>
  <title>vue-axios动态表单示例（不支持IE）</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <div>
      新增表单项：<br>
      <input v-model="field.fieldName" placeholder="表单项">
      <select v-model="field.fieldType">
        <option value="" disabled>请选择</option>
        <option value="text">文本</option>
        <option value="number">数字</option>
      </select>
      <button v-on:click="addData">添加</button>
    </div>
    <p>生成表单：</p>
    <ul>
      <li v-for="item in fieldList">
        {{item.fieldName}}: <input v-model="item.fieldValue" :type="item.fieldType"/>
      </li>
    </ul>
      <button @click="showData">查看数据</button>
  </div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      apiUrl: 'http://localhost:9004',
      field: { "formId": 1, "fieldType": "" },
      fieldList: []
    },
    created: function() {
      console.log('page created');
      this.requestData();
    },
    mounted: function () {
      console.log('page mounted');
    },
    methods: {
      addData: function() {
        let that = this;
        axios.post(this.apiUrl + '/dynamicForm/field/save', this.formData).then(function(res) {
          console.log('addData', res.data);
          if(res.data.code == 200) {
            alert('添加成功');
            that.fieldList = res.data.data;
          } else {
            alert(res.data.msg);
          }
        }).catch(function(err) {
          alert(err);
        })
      },
      requestData: function() {
        let that = this;
        let params = { 'formId': 1 };
        axios.post(that.apiUrl + '/dynamicForm/field/list', params).then(function(res) {
          console.log('requestData', res.data);
          that.fieldList = res.data.data;
        })
      },
      showData: function() {
        alert(JSON.stringify(this.fieldList));
      },
    }
  })
</script>